

<MudCard>
    <MudCardContent>
        <div style="margin-bottom: 8px">
            <MudLink Href="@TitleUrl" Typo="Typo.h6" Style="line-height: 1">
                @Post.Title <span style="opacity: 0.5">@TitleSuffix(Post.UrlDomain)</span>
            </MudLink>
        </div>
        <MudText Typo="Typo.subtitle1">
            @Post.Points points by @Post.Author |
            <MudLink Href=@($"/post/{Post.Id}")>@Post.NumComments comments</MudLink>
        </MudText>
    </MudCardContent>
</MudCard>

@code {
    [Parameter, EditorRequired]
    public HnItem Post { get; set; } = null!;

    string? TitleSuffix(string? urlDomain) => urlDomain is null ? null : $"({urlDomain})";

    string TitleUrl => Post.Url ?? $"/post/{Post.Id}";
}
