@using System.Net;

@{
    var titleSuffix = TitleSuffix(Post.UrlDomain);
}
<div style="display: flex; align-items: center">
    <div style="flex: 1">
        <a href="@TitleUrl" class="post-title">
            @Post.Title
        </a>
        <a href="search?query=@WebUtility.UrlEncode(Post.UrlDomain)" class="post-title" style="opacity: 0.7; font-weight: 300"
            aria-label="View other posts from @titleSuffix">
            @titleSuffix
        </a>
        <br/>
        <a href="user/@Post.Author" style="color: var(--col-text)">
            @Post.Author
        </a>
        | <DateDisplay Date="@Post.CreatedAt" />
    </div>
    <div style="display: flex; flex-direction: column">
        <span style="text-align: right">@Post.Points points</span>
        <a href="post/@Post.Id" style="text-align: right">@CommentText(Post.NumComments)</a>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public HnItem Post { get; set; } = null!;

    string? TitleSuffix(string? urlDomain) => urlDomain is null ? null : $"({urlDomain})";

    string TitleUrl => Post.Url ?? $"/post/{Post.Id}";

    string CommentText(int? numComments) => numComments switch
    {
        1 => "1 comment",
        0 or null => "no comments",
        _ => $"{numComments} comments",
    };
}
